# terraform directory
.terraform

# terraform lock state
.terraform.lock.hcl

# terraform tfstate
terraform.tfstate

# terraform tfstate backup
terraform.tfstate.backup

# random test file
test.txt

# terraform sensitive variables file
prod.tfvars

